*{
	padding: 0;
	margin: 0;
}
body{
	font-family: sans-serif;
	font-size: 15px;
	background: #ebebeb;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
/*ESTILO DE CORPO*/
.corpo{
	position: relative;
	overflow-y: auto;
}
/*ESTILO DE HEADER*/
.main_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: #58cbff;
	#height: 70px;
}
.div_logo_main{
	height: 100%;
	width: 210px;
	background: red;
	padding:5px;
	box-shadow:2px 0px 3px #b63434;
}
.logo_main_h1{
	display:flex;
	align-items: center;
	margin-left: 10px;
	font-size: 15px;
}
.logo{
	width: 56px;
	height: 56px;
	background-image:url("img/logo.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 50px;
}
.h1_title{
	margin: 0px 10px; 
}
.h1_title>span{
	display: block;
	text-align: left;
}
.h1_span1{
	font-family: cursive;
    color: #ffea34;
    letter-spacing: 2px;
}
.h1_span2{
	
}
.perfil_img2{
	width: 40px;
	margin-right: 20px;
}
.a_nav_haeder{
	padding: 23px;
	color: #fff;
}
.a_nav_haeder:hover{
	background: red;
}
/*ESTILO DE POPAP*/
.popap_main{
	min-width: 250px;
	height: 300px;
	background: #fff;
	position: absolute;
	left: inherit;
	right: 0px;
	box-shadow:0 0.5rem 1rem rgba(0,0,0,.175); 
	border: 1px solid rgba(0,0,0,.15);
	margin-right: 20px;
	border-radius: 3px;
	padding: 10px;
}
.popap_top{
	margin-bottom: 10px;
}
.popap_main_img{
	text-align: center;
	max-width: 120px;
	margin: 0 auto;
}
.btn_close_popup{
	position: absolute;
	right: 10px;
	top: 5px;
	padding: 5px 9px;
	background: #ff4440;
	color: #fff;
}
.btn_close_popup:hover{
	background: #f2ff00;
	color: #000;
}
.popap_main_p{
	font-size: 15px;
}
.popap_span{
	font-size:12px;
	font-weight: bold;
	color: #ce1f1f;
	margin-left: 10px;
}

.popap_span2{
	font-size: 13px;
	color: #7e7e7e;
}
.popap_bottom{
	padding: 10px;
	border-top:1px solid #555;
}
.ul_popap{
	display: flex;
	justify-content:space-between;
}
.popap_a{
	display: block;
	padding: 10px;
}
.popap_a:hover{
	color:red;

}
.btn_sessoa{

}
.btn_sessoa{
	display: block;
	padding: 10px;
	background: #ff4440;
	margin-top: 10px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
}
.btn_sessoa:hover{
	background: #f2ff00;
	color: #000;
}
/*ESTOLO DE SIDEBAR*/
.main_aside{
	color: #fff;
	min-height: 100%;
}
.aside_perfil{
	padding: 10px;
	background: #f2ff00;
	margin-bottom: 20px;
}
.aside_perfil_li{
	display: flex;
	align-items: center;
}
.perfil_img{
	min-width: 50px;
	width: 50px;
	margin-left: 10px;
}
.img_perfil{
	width: 100%;
	border-radius: 50%;
}
.div_tile_nome{
	margin-left: 10px;
}
.h4_nome{
	font-size: 14px;
	color: #222;
}
/*ESTILO DE NAVEGARES*/
aside{
	background: red;
	box-shadow: 2px 0px 3px 0px rgba(0,0,0,.9);
}
.div_nemu{
	display: block;
	background: red;
}
.main_nav{
	#padding: 10px;
}
.ul_li_main{
	border-bottom: 1px solid #999;
}
.main_nav li a{
	padding-left: 10px;

}
.li_a_main{
	display: block;
	font-size: 15px;
	padding: 15px 0px;
	#background: #000;
	color: #fff;
}
.li_a_main:hover{
	background: #000;
}
.li2_a2{
	color: #fff;
	display: block;
	padding: 10px;
	background: #032b32;
	margin-bottom: 1px;

}
.li2_a2:hover{
	background: #000;
}
.ul_li_main>ul>li{
	#display: none;
}
.hide{
	display: none;
}
.show{
	display: block;

}
/*ESTILODE CORPO GERAL*/
.corpo_geral{
	display: grid;
	grid-template-columns: 220px 1fr;
	height: 100vh
	background: #ebebeb;
	min-height: calc(100vh - calc(0.5rem + 3px) - calc(0.5rem + 1px));
}
/*ESTILO DE CADASTRA DE DEPARTAMENTO*/
.main_section{
	margin-left: 3px;
}
/*ESTILO DE HEADER DE SECTION*/
.section_header{
	border-bottom: 2px solid #58cbff;
}
.section_header_h1{
	font-size: 16px;
	padding: 20px;
	color: #289390;
}

/*ESTILO DE CADASTRO*/
.article_main{
}
.article_main{
	padding: 0px 0px 5px 0px ;
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
.section_article{
	background: #fff;
	padding-bottom: 20px; 
}
.article_h3{
	padding: 5px;
	font-size: 15px;
	font-weight: 300;
	color: #b60867;
	border-bottom: 2px solid red;
}
.form_main{
	padding-left: 5px;
}
.group-form{
	padding: 10px 0px;
}
.form_label{
	font-size: 13px;
	font-weight: bold;
	color: #ff8100;
	display: block;
	margin-bottom: 5px;
}
.form_input_main{
	padding:7px 10px;
	width: 75%;
	font-size: 12px;
	margin-bottom: 5px; 
}
.btn_cadastra{
	padding: 10px 1rem;
	color:#fff;
	background: #317186;
	border: none;
	border-radius: 5px;
	font-size: 13px;
}
.btn_cadastra:hover{
	background: #40aacc;
	border: none;
}
.btn_cansela{
	padding: 10px 1rem;
	color:#fff;
	background: #f44336;
	border: none;
	border-radius: 5px;
	font-size: 13px;
}
.btn_cansela:hover{
	background: #863131;
	border: none;
}

.article_ul{
	padding-top: 10px; 
}
.article_ul_a{
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	color: #000;
}

/*PAGINA DE CADASTRO DE ADIMISTRADOR ADIMINISTRATIVA*/
.grid2{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap:20px;
	margin-bottom: 10px;
}
.form_h3{
	display: block;
	padding: 10px 0px;
	font-size:15px;
	color: #2196f3;
	font-weight: 300;
	letter-spacing:1px;
}
.form_li{
	margin-bottom: 4px;
}
.form_select{
	padding: 5px;
}
.tabela{
	width: 100%;
}
.flex{
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
}
.form_labe2{
	#margin-right: 10px;
}
.form_lable{
	font-size: 13px;
	color:#7e7e7e;
	font-weight: 300;
}
.col-4{
	width: 40% !important;
	display: inline-block;
	text-align: center;
}
.center{
	text-align: center;
}

/*CORPO PARA TABELAS*/
.lista-corpo{
	width: 100%;
	border-top: 3px solid #3c8dbc;
    background-color: #fff;
}
.tabela{
	width: 100%;
	border-spacing: 0;
    border-collapse: collapse;

}
.tabela-head{
	border-bottom: 1px solid #9e9e9e;
}

.tabela-head-th{
	font-size: 11px;
	border-bottom: 2px solid #9e9e9e;
}
.tabela-head-th{
	background-color: red;
	color:#fff;
}
.tabela-body-tr-linha{
	background: rgba(255, 228, 102, 0.44);
}
.tabela-body-tr-linha2{
		background: rgba(176, 176, 176, 0.44);
}
.tabela-body-tr:hover{
	background: #6bfe5f;
}

.tabela-body-td{
	font-size: 12px;
}
.tabela-body-td{
	font-weight: bold;
}
.tabela-body-td>a:hover{
	color:red;
}
span  .img{
	width: 4vh;
}
span .atualiza{
	width: 2vh;
}
/*FIM DE ESTILO DE TABELAS*/

/*
	ESTILO DA TABELA-B QUE POSUI BOTÕES DE
		*INATIVO E *ATIVO, BOTÕES DE 
	MOSTRAR TODOS DADOS DE ALGUNS DETERMINADOS
	DADOS 
*/


.tabela-b{
	margin:5vh 0;
	width: 50%;
}
.btn-div{
	display: inline-block;
}
.tabela-b-td{
	width: 100%;
	
}
.estilo-btn{
	color:#fff;
	padding:1.5vh 4vh;
	font-size: 12px;
	border-radius: 3%;
}
.tabela-btn-voltar{
	background-color:#1470c4 ;
}
.tabela-btn-voltar:hover{
	background-color:#148eff;
}

.btn-inativo{
	
	border: 0;
	background-color: #1c6b8f ;
	border-radius:3%;
	
}
.btn-inativo:hover{
	background-color: #1484b8 ;	
}

.btn-add{
	background-color: #379524;
}
.btn-add:hover{
	background-color: #2de507;
}

.btn-mostra{
	background-color: #eb0505;
}
.btn-mostra:hover{
	background-color: #ff4404;
}
.tabela tr .tabela-head-th,tr>.tabela-body-td{
	padding: 8px;
	text-align: center;
}
/*SEM LUGAR*/
.geral-title-h3{
	color:rgb(13, 111, 135);
	font-weight: 300;
	padding-top:20px;
	margin-bottom:;
	border-top:1px solid black;
	text-transform:uppercase;

}


